body.landing {
  background-image: url(../images/mockups/1440.png);
  background-size: 1440px 3200px;
  background-position: top center;
  background-repeat: no-repeat;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}

body.landing {
  background-color: #FAFAFA;
}

body.landing .menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 768px;
}

body.landing .menubar div {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
