body {
  min-width: 768px;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.landing {
  background-image: url(../images/1440.png);
  /*background-size: 1440px 3200px;*/
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #FAFAFA;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

* {
  box-sizing: border-box;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  /*background-color: white;*/
}

.compact {
  display: none;
}

.full {
  display: block;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  margin: 27px 1px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center h2 {
  font-size: 40px;
  line-height: 56px;
}

.mainSection.center p {
  margin: 27px 0 0 61px;
}

.mainSection.center,
.mainSection.right {
  /*background-color: #999999;*/
  color: white;
}

.mainSection section {
  position: absolute;
  top: 147px;
  width: 580px;
}

.mainSection.center section {
  top: 189px;
  left: -26px;
  width: 100%;
}

.mainSection.left section {
  top: 189px;
  left: 159px;
}

.mainSection.right section {
  top: 189px;
  right: 61px;
}

.mainSection section figure {
  width: 30px;
  height: 4px;
  background: #66FFCC;
}

.mainSection.left section figure,
.mainSection.right section figure {
  margin-top: 60px;
}

.mainSection.center section nav {
  margin-top: 59px;
  font-size: 0;
}

.mainSection.center section nav a {
  margin: 15px 0 0 594px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 37px;
}

.mainSection.center footer p {
  margin-left: 2px;
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 232px;
  right: 160px;
  width: 530px;
  height: 568px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  top: 192px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/about.png);
}

#mockup2b {
  top: 192px;
  left: 333px;
  width: 140px;
  height: 397px;
  background-image: url(../images/works.png);
}

#mockup2c {
  top: 192px;
  left: 506px;
  width: 140px;
  height: 476px;
  background-image: url(../images/work.png);
}

#mockup2,
#mockup2b,
#mockup2c {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 342px;
  right: 38px;
  width: 763px;
  height: 405px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1440px) and (min-width: 1180px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  body.landing {
    background-image: url(../images/1180_First_Breakpoint.png);
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }

  .mainSection p {
    /*margin: 28px 0 0 162px;*/
    font-size: 21px;
    line-height: 36px;
  }

  .mainSection h2 {
    /*margin: -59px 0 0 161px;*/
    font-size: 43px;
    line-height: 55px;
  }

  .mainSection.center {
    text-align: center;
    background-color: #FCFCFC;
  }

  .mainSection.center section {
    left: -69px;
  }

  .mainSection.left section {
    top: 190px;
    left: 29px;
  }

  .mainSection.right section {
    top: 189px;
    right: 118px;
  }

  .mainSection.center section nav {
    margin-top: 43px;
  }

  .mainSection.center section nav a {
    margin: 2px 0 0 551px;
  }

  .mainSection.center footer {
    padding-bottom: 25px;
  }

  .mainSection.center footer p {
    margin-left: 2px;
    font-size: 13px;
  }

  #mockup1 {
  top: 166px;
  right: 193px;
  width: 376px;
  height: 402px;
  }

  #mockup2 {
    top: 138px;
    left: 191px;
    width: 100px;
    height: 226px;
  }

  #mockup2b {
    top: 138px;
    left: 315px;
    width: 100px;
    height: 283px;
  }

  #mockup2c {
    top: 138px;
    left: 437px;
    width: 100px;
    height: 339px;
  }

  #mockup3 {
    top: 244px;
    right: 170px;
    width: 478px;
    height: 286px;
  }

  @media screen and (max-width: 840px) {
    body.landing {
      background-image: url(../images/840_Second_Breakpoint.png);
    }
  }
}
