* {
  box-sizing: border-box;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body {
  min-width: 768px;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body.landing {
  background-image: url(../images/1440.png);
  background-size: 1440px 3200px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #FAFAFA;
  overflow-x: hidden;

}

body.landing .menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 768px;
  z-index: 1;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
