.menubar {
  width: 100%;
}

.menubar div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.logo {
  display: block;
  width: 91px;
  height: 26px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

body.landing .menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 768px;
  z-index: 1;
}

body.landing .menubar div {
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1179px) {
  .menubar div {
    height: 42px;
  }

  .logo {
    width: 60px;
    height: 17px;
  }
}
