.menubar {
  width: 100%;
}

.menubar div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.logo {
  display: block;
  width: 91px;
  height: 26px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}
